

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Liste villes</title>
</head>
<body>
<h2> Liste Ville</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Hauteur</th>
        <th>Largeur</th>
        <th>Min</th>
        <th>Max</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="villes" type=""*/-->
    <tr th:each="ville : ${villes}">
        <td th:text="${ville.id}">Id</td>
        <!--/*@thymesVar id="nomVille" type="CITY"*/-->
        <td th:text="${ville.nomVille}">Name</td>
        <!--/*@thymesVar id="hauteur" type="CITY"*/-->
        <td th:text="${ville.hauteur}">Hauteur</td>
        <!--/*@thymesVar id="largeur" type="CITY"*/-->
        <td th:text="${ville.largeur}">Largeur</td>
        <!--/*@thymesVar id="valeurMin" type="CITY"*/-->
        <td th:text="${ville.valeurMin}">Valeur Min</td>
        <!--/*@thymesVar id="valeurMax" type="CITY"*/-->
        <td th:text="${ville.valeurMax}">Valeur Max</td>
        <td><a th:href="@{/villes/editville/{id}(id=${ville.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
        <td><a th:href="@{/villes/delete/{id}(id=${ville.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>

